* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
.firstheader{
    display: flex;
    justify-content:space-between;
    background-color: #ecf3fc;
    height: 60px;

}
.active {
    display: block;
}
.call {
    display: flex;
    color: #202020;
    margin-left: 40px;
} 
.call p {
    width: 230px;
}
.call img{
    float: left;
}/*
p {
    margin-right: 40px;
} */
.socials a {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 40px;
    border-color: #212121;
   background-color: #212121;
color: white;
text-decoration: none;
}
.socials {
    text-align: center;
}
.call, .socials, .dropdown{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.dropdown {
    margin-right: 40px;
}
.dropdown select{
    margin-right: 15px;
}
select {
    cursor: pointer;
    width: 90px;
    font-size: 12px;
    color: #677691;
    border: #677691 solid 1px;
    border-radius: 22px;

}
.call a {
    text-decoration: none;
}
.secondheader {
    display: flex;
    justify-content:space-between;
    height: 80px;
    background-color: rgb(48, 165, 107);
}

.main, .main2, .main3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondheader .main {
    margin-left: 40px;
}
.main3 {
    margin-right: 40px;
}
.main img {
    height: 20px;
    margin-right: 10px;
}
.main2 img {
    height: auto;
    max-width: 100%;
}
.main3 img {
    height: 30px;
    margin-right: 20px;
    justify-content: center;
}
.button1 p {
    padding: 9px;
    width: 100px;
    font-size: 14px;
    color: white;
    display: block;
    text-align: center;
    background-color: #183661;
    border-radius: 40px;
    border-color: #183661;
}
.button1 p:hover{
    background-color: yellowgreen;
}
/*
.button1 {
    margin-top: 18%;
}
*/
/* Navigation Below */

.nav1 {
    display: flex;
    background-color: blue;
    color: white;
    height: 70px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.nav1 ul {
    margin-left: 40px;
    list-style: none;
    display: flex;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -5px;
    color: white;
}
.toggle-btn {
    display: none;
}
.nav1 ul li {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #ecf3fc;
}
.nav1 a {
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 24px;
    text-decoration: none;
}
.nav1 ul li:hover, .nav ul li:focus {
    background-color: #f2c119;
}
.nav1 ul li:nth-last-child() {
    background-color: yellow;
}
.search {
    display: flex;
    float: right;
    margin-right: 60px;
    align-items: center;
}

.search .myform input {
    width: 300px;
}
.search input{
    border-radius: 30px;
    height: 30px;
    border: #ffffff solid 1px;
    color: #000;
}
.search button {
   margin-left: -20px;
   position: absolute;
   margin-top: 5px;
}

.shopnow {
    display: flex;
    background: url(../images/banner.jpg);
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.shopdes {
    margin-left: 40px;
    margin-top: 90px;
}
.shopdes p{
     margin-top: 20px;
     font-size: 30px;
     font-weight: 600;
}
.shopnow button  {
    padding: 0px 25px 10px 20px;
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight: 300;
    background-color: #1d37fd;
    border-radius: 40px;
    border-color: #0557ca;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 25px;
    align-items: center;
}

.shopnow button p {
    width: 200px;
    font-weight: 300;
    align-items: center;
}
.shopdes button:hover {
    background-color: #f2c119;
}

.shopnow h3 {
    color: #f2c119;
    font-size: 75px;
}

.shopnow h2 {
    color: black;
    font-size: 85px;
}

.shopnow .image{
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}
.options {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}

.cate {
    background-color: #f2c119;
}
.options img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 120px;
    text-align: center;
}
.options p {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-weight: bold;
}
.c2, .c4, .c6{
    background-color: #183661;
    width: 250px;
}
.c1, .c2, .c3, .c4, .c5, .c6 {
    text-align: center;
    padding: 50px 0;
}

/* Featured Products Section */

.fp {
    background: url(../images/product_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 90px;
    padding-right: 90px;
}
/*
.fproducts {
    margin-left: 90px;
} */
.fp h3 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
}
.fp hr {
    margin-top: 10px;
    width: 100%;
    border: #f2c119 solid 5px;
    margin-bottom: 30px;
}
.s1 {
    background: #f2f2f2;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sh span {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    padding: 22px 0px 0px 0px;
    color: #1c1c1b;
    margin-top: 7px;
}
.bb {
    display: flex;
}
.fp .sh {
    display: flex;
    text-align: center;
    margin: 0 15px 20px 15px;
    flex-direction: column;
}
.fp img {
    align-items: center;
}
.shoe1, .shoe2, .shoe3, .shoe4, .shoe5 {
    padding: 20px;
    
}
.shoe1, .shoe2, .shoe3, .shoe4, .shoe5 span {
    margin-top: 20px;
    margin: 0 15px 20px 15px;
}
.b2 button  {
        padding: 10px 0;
        font-size: 17px;
        color: white;
        text-align: center;
        font-weight: 300;
        background-color: #00052e;
        border-radius: 40px;
        border-color: #183661;
        background:#183661;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-top: 50px;
}
.b2 button:hover{
   background-color:  #f2c119;
}
.b2 {
    display: flex;
    justify-content: center;
}
.b2 p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: none;
    display: block;
}
.fascol img {
    width: 100%;
}
/* News Section */

.news {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 400;
    padding-left: 90px;
    padding-right: 90px;
}
.news hr {
    margin-top: 10px;
    width: 100%;
    border: #f2c119 solid 5px;
    margin-bottom: 30px;
}
.new {
    display: flex;
    margin-top: 80px;
}
.newinside {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.new h4{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.new .date p {
    float: left;
    border-bottom: #f2c119 solid 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #141411;
}
.new .date span {
    float: right;
    border-bottom: #f2c119 solid 1px;
    margin-top: 15px;
    font-size: 20px;
    color: #141411;
}
.new img {
    width: 100%;
    margin-right: 40px;
}
.p p {
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px;
}
/*
Newsletter
*/
.letter {
    background-color: #ffffff;
    padding: 90px 0;
    margin-top: 40px;
    margin-bottom: 50px;
}
.inletter {
    display: flex;
    justify-content: center;

}
.inletter p {
    margin-right: 70px;
    font-weight: bold;
    font-size: 40px;
    color: #141411;
    
}
.inletter input {
    width: 100%;
    height: 50px;
    border-radius: 32px;
    background-color: white;
    color: black;
    border: #00052e solid 1px;

}
.mform {
    display: flex;
    width: 500px;
}
.mform button {
    color: white;
    border: #00052e solid 1px;
    border-radius: 30px;
    font-size: 20px;
    float: right;
    text-align: center;
    background-color: #183661;
    color: #ffffff;
    padding: 5px 42px;
    margin-left: -170px;
    cursor: pointer;
}
.mform button p {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}
.mform button:hover {
    background-color: #f2c119;
}
/* Box */
.box
 {
    margin-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
 }
 .boxes {
    margin-right: 30px;
    border: #0557ca solid 1px;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    transform: translate(-20px, 70px);
    background-color: white;
 }
 .box img {
    margin-bottom: 10px;
    margin-top: 30px;
 }
 .box p{
    margin-bottom: 30px;
 }
/*
   Footer Code
*/
footer {
    background-color:#183661;
    color: white;
    padding-top: 140px;
    height: 330px;
    text-align: center;
}
.ft {
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
}
.ft h4{
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.fdate p {
    display: inline-block;
    padding-right: 30px;
    font-weight: 400;
    text-align: left;
    line-height: 30px;
}
/* 
   Copyright
*/
.copyright {
    background-color: #f2c119;
    height: 30px;
}
.copyright p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.copyright a {
    color: #0557ca;
} 
.copyright a:hover{
    color: green;
}
/* Mobile VIew */

@media only screen and (max-width:750px) {
    .firstheader, .button1, .main3 {
        display: none;
    }
    .secondheader {
        padding-left: 20px;
        padding-right: 20px;
    }
    .secondheader .main {
        display: none;
    }
    .nav1 ul {
        display: none;
    }
    .active {
        display: inline-block;
    }
    .nav1 .search {
        align-items: center;
        margin-left: 20px;
    }
    .nav1 .search input {
        width: 450px;
    }
    .menu {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        grid-template-rows: repeat(3, calc(33.33% - 20px));
      
    }
    .menu ul {
        flex-direction: row;
    }
  
    .toggle-btn {
        display: inline-block;
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: row-reverse;
        justify-content: space-between;
        transition: 1s ease-in;
        cursor: pointer;
        margin-top: -5px;
    }
    .shopnow {
        display: flex;
        flex-direction: column;
    }
    .shopnow h2, h3, p {
        font-size: 35px;
    }
    .shopnow button {
        font-size: 50px;
        margin-top: 50px;
    }
    .shopnow .image {
        margin-top: 0;
        align-items: center;
        text-align: center;
    }
    .cate .options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cate .options .c2, .c4, .c6 {
        align-items: center;
        width: 100%;
    }
    .cate .options p {
        font-size: 20px;
    }
    .fp {
        margin-top: 50px;
    }
    .fp h3 {
        font-size: 22px;
        font-weight: bold;
    }
    .fp hr {
        border: #f2c119 solid 2px;
    }
    .bb {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .b2 button p{
        font-size: 20px;
    }
    .new {
        display: flex;
        flex-direction: column;
        margin-top: -1px;
    }
    .new h4 {
        font-size: 20px;
    }
    .new .p p {
        font-size: 17px;
    }
    .news h3 {
        font-size: 22px;
    }
    .news hr {
        border: #f2c119 solid 2px;
    }
    .news img {
        width: 100%;
    }
    .inletter {
        display: flex;
        flex-direction: column;
        margin-bottom: -50px;
    }
    .inletter p {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .inletter input {
        width: 400px;
    }
    .box {
        display: flex;
        flex-direction: column;
       
    }
    .boxes {
        border: wheat solid 1px;
        margin-top: 10px;
    }
    .ft {
        display: flex;
        flex-direction: column;
    }
    .fdate p {
        font-size: 15px;
    }
    footer {
        height: 1050px;
        width: 100%;
    }
    .copyright p {
        font-size: 15px;
    }
}